<title>My application</title>
  <h1>My Program</h1>

Result is {{result}}

Program 2. ve 3. bosluklardaki stringleri birleştirip 1. boşlukta var mı diye kontrol eder true yada false döner


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

