<title>My application</title>
  <h1>My Program</h1>

Program 2. ve 3. bosluklari merge edip 1. boslukta arar(siralama 3+2 seklinde)


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

